{% extends "base.html" %} {% block content %}

<div class="container mw-100">
  <div class="row">
    <div class="col-md-12 p-0 pass-reset-background-container">
      <div class="col-md-6 p-4 pass_reset_form">
        <h1 class="text-center"><u>Password Reset</u></h1>
        <form method="post" action="/accounts/password/reset">
        {% csrf_token %}
          <p>Forgot your password?</p>
          <p>
            No worries, simply enter the email address associated with your
            account below and we'll send you a secure link to reset it.
          </p>
          <input
            type="hidden"
            name="csrfmiddlewaretoken"
            value="vGzOqiiiR8p9CLHVdwCcM8biuVQoDErID9VqsnFREh0JsBljbBHFT5vrCDYImKkI"
          />
          <p>
            <label for="id_email">Email</label>
            <br />
            <input
              type="email"
              name="email"
              placeholder="Email Address"
              autocomplete="email"
              required
              id="id_email"
            />
          </p>
          <button type="submit" class="btn login_btn text-uppercase">
            Reset my Password
          </button>
          <br />
          <br />
          <p>
            If you encounter any issues during the process, please don't
            hesitate to contact us.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
