/*------------------------------------------------------------- Global Styles */

body {
    background-color: #F4F0BB;
    font-family: 'Hind', sans-serif;
    color: #1C7866;
}

/*--------------------------------------------------------- Typography Styles */

h1 {
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

p {
    font-size: 1.4em;
    font-weight: 700;
}

/*------------------------------------------------------------ Navigation Bar */

.custom-navbar-bg {
    background-color: #1C7866;
}

a {
    color: #F4F0BB;
    font-weight: 700;
}

.navbar-brand {
    font-size: 1.8em;
    transition: color 0.5s;
    margin-left: 1.5rem;
}

.navbar-brand:hover {
    color: #fff;
}

li a {
    font-size: 1.2em;
    margin-right: 1.5rem;
}

.nav-link {
    color: #F4F0BB;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #fff;
}

.navbar {
    padding: 1rem 0rem;
    justify-content: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 0;
    color: #F4F0BB;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 2rem;
}

/*------------------------------------------------------------- Dropdown Menu */

.dropdown-menu {
    background-color: #fff;
    transition: color 0.4s;
    margin-right: 1rem;
}

.dropdown-item:hover {
    background-color: #1C7866;
    color: #F4F0BB;
}

.dropdown-item {
    color: #1C7866;
    transition: color 0.4s;
}

.dropdown-logout {
    color: #ff0000;
    transition: color 0.4s;
}

.dropdown-logout:hover {
    background-color: #ff0000;
    color: #fff;
}

/*-------------------------------------------------------------------- Footer */

.footer {
    background-color: #1C7866;
    color: #F4F0BB;
    text-align: center;
    padding: 1.5rem 0;
}

.footer p {
    margin: 0;
    white-space: nowrap;
    font-size: 1.1em;
}

/*------------------------------------------------------------------ Carousel */

.carousel-item img {
    border-radius: 0.2rem;
}

.carousel,
.bottom-img {
    box-shadow: 7px 10px 1px #1C7866;
    border-radius: 0.2rem;
}

/*---------------------------------------------------------------- Intro Text */

.bd-example {
    padding: 1rem;
}

.intro-text {
    padding: 1rem;
    background-color: rgb(255 252 218);
    box-shadow: 7px 10px 1px #1C7866;
    border-radius: 0.2rem;
    margin-top: 3rem;
}

.intro-text h1 {
    color: #1C7866;
    padding: 0.1rem;
    font-size: 3em;
    text-align: center;
    border-radius: 0.2rem;
}

.intro-text .btn {
    color: #F4F0BB;
    font-size: 1.2em;
    background-color: #1C7866;
    font-weight: 700;
}

.intro-text .btn:hover {
    color: #fff;
}

.order-md-2 {
    margin: auto;
    text-align: center;
}

/*------------------------------------------------------------------ About Us */

.about-text {
    text-align: center;
    padding: 2rem;
    background-color: rgb(255 252 218);
    box-shadow: 7px 10px 1px #1C7866;
    border-radius: 0.2rem;
}

.about-text p {
    font-size: 1em;
    color: #1C7866;
    line-height: 1.6;
    font-weight: 400;
}

.about-text h2 {
    color: #1C7866;
    text-decoration: underline;
}

/*---------------------------------------------------------------- Login Page */

.login_btn {
    color: #F4F0BB;
    font-size: 1.2em;
    background-color: #1C7866;
    font-weight: 700;
}

.login_btn:hover {
    color: #fff;
}

.form_pass_reset,
.sign_up_here {
    color: blue;
}

.background-container {
    background: url('https://res.cloudinary.com/didhmaarh/image/upload/v1703778011/qadm79viljkkacwx4ww6.jpg') center center/cover no-repeat;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.login_form {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 421px;
    border-radius: 0.2rem;
}

/*-------------------------------------------------------------- Sign up Page */

.signup_form {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 568px;
    border-radius: 0.2rem;
}

.signup-background-container {
    background: url('https://res.cloudinary.com/didhmaarh/image/upload/v1703778011/qadm79viljkkacwx4ww6.jpg') center center/cover no-repeat;
    position: relative;
    overflow: hidden;
    min-height: 141vh;
}

/*------------------------------------------------------- Password Reset Page */

.pass_reset_form {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 593px;
    border-radius: 0.2rem;
}

.pass-reset-background-container {
    background: url('https://res.cloudinary.com/didhmaarh/image/upload/v1703778011/qadm79viljkkacwx4ww6.jpg') center center/cover no-repeat;
    position: relative;
    overflow: hidden;
    min-height: 123vh;
}

/*-------------------------------------------------------- Recipe Card Layout */

.author {
    padding: 0.5rem;
    background-color: rgb(255 252 218);
    box-shadow: -5px 6px 1px #1C7866;
    margin-top: 1rem;
    color: #1C7866;
}

.card-title {
    color: #1C7866;
}

.card-text-desc {
    font-size: 1.3rem;
    font-style: italic;
}

.card-text-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.directory-min-height {
    min-height: 90vh;
}

.card-body a:hover {
    color: #F4F0BB;
}

/*-------------------------------------------------------- Recipe Detail Page */

.card-detail {
    max-width: 32rem;
    margin: auto;
}

.card-body {
    background-color: #fff;
}

/*-------------------------------------------------------- Media Queries */

@media (max-width: 576px) {
    .card-detail {
        max-width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .card-detail {
        max-width: 25rem;
    }
}

@media (min-width: 769px) {
    .card-detail {
        max-width: 32rem;
    }
}