/*----------------------------------------- Global Styles --------------------*/
body {
    background-color: #F4F0BB;
    font-family: 'Hind', sans-serif;
    color: #1C7866;
}

/*------------------------------------- Typography Styles --------------------*/
h1 {
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

p {
    font-size: 1.4em;
    font-weight: 700;
}

/*---------------------------------------- Navigation Bar --------------------*/
.custom-navbar-bg {
    background-color: #1C7866;
}

a {
    color: #F4F0BB;
    font-weight: 700;
}

.navbar-brand {
    font-size: 1.8em;
    transition: color 0.5s;
    margin-left: 1.5rem;
}

.navbar-brand:hover {
    color: #fff;
}

li a {
    font-size: 1.2em;
    margin-right: 1.5rem;
}

.nav-link {
    color: #F4F0BB;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #fff;
}

.navbar {
    padding: 1rem 0rem;
    justify-content: center;
}

/*----------------------------------------- Dropdown Menu --------------------*/
.dropdown-menu {
    background-color: #fff;
    transition: color 0.4s;
    margin-right: 1rem;
}

.dropdown-item:hover {
    background-color: #1C7866;
    color: #F4F0BB;
}

.dropdown-item {
    color: #1C7866;
    transition: color 0.4s;
}

.dropdown-logout {
    color: #ff0000;
    transition: color 0.4s;
}

.dropdown-logout:hover {
    background-color: #ff0000;
    color: #fff;
}

/*------------------------------------------------ Footer --------------------*/
.footer {
    background-color: #1C7866;
    color: #F4F0BB;
    text-align: center;
    padding: 1.5rem 0;
}

.footer p {
    margin: 0;
    white-space: nowrap;
    font-size: 1.1em;
}