/*----------------------------------------- Global Styles --------------------*/
body {
    background-color: #F4F0BB;
    font-family: 'Hind', sans-serif;
    color: #1C7866;
}

/*------------------------------------- Typography Styles --------------------*/
h1 {
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

p {
    font-size: 1.4em;
    font-weight: 700;
}

/*---------------------------------------- Navigation Bar --------------------*/
.custom-navbar-bg {
    background-color: #1C7866;
}

a {
    color: #F4F0BB;
    font-weight: 700;
}

.navbar-brand {
    font-size: 1.8em;
    transition: color 0.5s;
    margin-left: 1.5rem;
    text-shadow: 1px 2px 1px #000;
}

.navbar-brand:hover {
    color: #fff;
}

li a {
    font-size: 1.2em;
    margin-right: 1.5rem;
}

.nav-link {
    color: #F4F0BB;
    transition: color 0.5s;
    text-shadow: 1px 2px 1px #000;
}

.nav-link:hover {
    color: #fff;
}

.navbar {
    padding: 1rem 0rem;
    justify-content: center;
}

/*----------------------------------------- Dropdown Menu --------------------*/
.dropdown-menu {
    background-color: #fff;
    transition: color 0.4s;
    margin-right: 1rem;
}

.dropdown-item:hover {
    background-color: #1C7866;
    color: #F4F0BB;
}

.dropdown-item {
    color: #1C7866;
    transition: color 0.4s;
}

.dropdown-logout {
    color: #ff0000;
    transition: color 0.4s;
}

.dropdown-logout:hover {
    background-color: #ff0000;
    color: #fff;
}

/*------------------------------------------------ Footer --------------------*/
.footer {
    background-color: #1C7866;
    color: #F4F0BB;
    text-align: center;
    padding: 1.5rem 0;
}

.footer p {
    margin: 0;
    white-space: nowrap;
    font-size: 1.1em;
}

/*---------------------------------------------- Carousel --------------------*/
.carousel-item img {
    border-radius: 0.2rem;
}

.carousel,
.bottom-img {
    box-shadow: 10px 15px 1px #1C7866;
    border-radius: 0.2rem;
}

/*-------------------------------------------- Intro Text --------------------*/
.bd-example,
.intro-text {
    padding: 1rem;
}

.intro-text h1 {
    color: #1C7866;
    padding: 0.1rem;
    font-size: 3em;
    text-align: center;
    border-radius: 0.2rem;
    text-shadow: 1px 2px 1px #000;
}

.intro-text .btn {
    color: #F4F0BB;
    padding: 0.3rem;
    font-size: 1.2em;
    text-align: center;
    border-radius: 0.5rem;
    border: 3px solid #1C7866;
    box-shadow: 2px 2px 3px #1C7866;
    background-color: #1C7866;
    transition: color 0.7s;
    text-shadow: 1px 2px 1px #000;
}

.intro-text .btn:hover {
    background-color: #F4F0BB;
    color: #1C7866;
    border: 3px solid #1C7866;
    text-shadow: 1px 2px 1px #F4F0BB;
}

.order-md-2 {
    margin: auto;
    text-align: center;
}

/*---------------------------------------------- About Us --------------------*/
.about-text {
    text-align: center;
}

.about-text p {
    font-size: 1.1em;
    color: #1C7866;
    line-height: 1.6;
}

.about-text h2 {
    color: #1C7866;
    text-shadow: 1px 1px 1px #000;
    text-decoration: underline;
}