{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Meta Tags-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore a vibrant community dedicated to the art of vegan cooking. Discover and share delectable plant-based recipes with like-minded food enthusiasts at The Vegan Archive."
    />
    <meta
      name="keywords"
      content="vegan cooking, plant-based recipes, culinary community, vegan dishes, recipe sharing, vegan cuisine, food enthusiasts, cooking inspiration"
    />
    <meta name="author" content="Iana Lois Esteron" />
    <title>The Vegan Archive</title>

    <!--Google Fonts CDN-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <!--Bootstrap 4.6 CSS CDN-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <!--Font Awesome Free-->
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body></body>
</html>
